# Thanks to https://jasonstitt.com/gitignore-whitelisting-patterns

# Ignore everything
*
# Recursively allow files under subtree

# gradle
!/gradle
!build.gradle
!gradlew
!gradlew.bat

# source
!/src

# gitg
!.gitignore
!README.md
!LICENSE