# Thanks to https://jasonstitt.com/gitignore-whitelisting-patterns

# Ignore everything
*

# Recursively allow files under subtree
# gradle
!/gradle
!/gradle/**
!build.gradle
!gradlew
!gradlew.bat

# source
!/src
!/src/**

# git
!.gitignore
!README.md
!LICENSE